@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}
.label {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 20;
}

.button .text {
    -fx-font-family: 'Montserrat';
    
}

#btn_quit .text{
	 -fx-font-family: 'Montserrat';
}